body {
  font-family: Avenir, sans-serif;
}

button {
  cursor: pointer;
}

.grey-text {
  color: #a1a1a1;
}

.white-text {
  color: #fff;
}

.container {
  width: 1000px;
  margin: auto;
}

.row {
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

.header {
  display: flex;
  border-width: 2px;
  border-style: none none solid none;
  border-color: #f1f2f4;
  height: 70px;
  align-items: center;
  justify-content: left;
}

.sub-header {
  font-size: 0.9rem;
}

.logo {
  width: 120px;
  height: 52px;
}

.header-crumb {
  background: none;
  border-style: none;
}

header > button {
  white-space: nowrap;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.blue-button {
  border-radius: 5%;
  background-color: #294464;
  color: #fff;
  border-style: none;
}

.header > .logo {
  margin-right: 300px;
  position: relative;
  left: 30px;
}

.hero-image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-image-container {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 900px;
  height: 450px;
}

.hero-image {
  width: 900px;
  filter: brightness(87%);
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.hero-image-text {
  position: absolute;
  width: 400px;
  left: 100px;
  line-height: 1.5rem;
}

.hero-image-text > h1 {
  font-family: Tiempos Headline, serif;
  font-size: 1.8rem;
  line-height: 2.25rem;
  font-weight: lighter;
}

.hero-image-text > p {
  font-size: 0.78rem;
  line-height: 1.2rem;
}

.mission-statement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-statement-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-statement-text > h1 {
  color: #2b2c2e;
  font-family: Tiempos Headline, serif;
  font-size: 1.8rem;
  line-height: 2.25rem;
  font-weight: 500;
  margin: 10px;
}

.mission-statement-text > p {
  color: #2b2c2e;
  font-size: 0.78rem;
  line-height: 1.2rem;
}

.mission-statement-text > a.link-text {
  color: #294464;
  font-size: 0.78rem;
  line-height: 1.2rem;
  font-weight: bold;
}
