@font-face {
  font-family: 'AtlasGrotesk-Light';
  src: url(AtlasGrotesk-Light-Web.woff2) format('woff2');
}

@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url(BrandonGrotesque-Regular.woff2) format('woff2');
}

body {
  font-family: 'AtlasGrotesk-Light', sans-serif;
}

.form-center {
  display: flex;
  justify-content: center;
  margin-left: 33.3%;
  margin-right: 33.3%;
}

fieldset {
  border: none;
  width: 50%;
}

input {
  justify-content: center;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  border-style: solid;
}

.heading {
  font-family: 'BrandonGrotesque-Regular', sans-serif;
  color: orangered;
  letter-spacing: 0.25em;
}

.heading-center {
  text-align: center;
}

.label-style {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 2px;
  font-size: x-small;
  font-weight: 900;
}

select {
  background-color: lightgray;
  border-radius: 3px;
  width: 300px;
  height: 30px;
}

option {
  color: black;
}

::placeholder {
  color: grey;
  padding-left: 5px;
}

button {
  background-color: orangered;
  color: white;
  border-style: hidden;
  padding: 5px;
  height: 30px;
  width: 100px;
  font-family: 'BrandonGrotesque-Regular', sans-serif;
  border-radius: 15% / 50%;
  margin: 10px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

button:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}
