@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Barlow';
  font-style: bold;
  font-weight: 700;
}
